# [giaotrinh_db]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [giaotrinh_db]    Script Date: 11/02/2023 6:47:24 CH ******/
CREATE DATABASE [giaotrinh_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'giaotrinh_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\giaotrinh_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'giaotrinh_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\giaotrinh_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [giaotrinh_db] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [giaotrinh_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [giaotrinh_db] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [giaotrinh_db] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [giaotrinh_db] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [giaotrinh_db] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [giaotrinh_db] SET ARITHABORT OFF 
GO
ALTER DATABASE [giaotrinh_db] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [giaotrinh_db] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [giaotrinh_db] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [giaotrinh_db] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [giaotrinh_db] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [giaotrinh_db] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [giaotrinh_db] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [giaotrinh_db] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [giaotrinh_db] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [giaotrinh_db] SET  DISABLE_BROKER 
GO
ALTER DATABASE [giaotrinh_db] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [giaotrinh_db] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [giaotrinh_db] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [giaotrinh_db] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [giaotrinh_db] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [giaotrinh_db] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [giaotrinh_db] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [giaotrinh_db] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [giaotrinh_db] SET  MULTI_USER 
GO
ALTER DATABASE [giaotrinh_db] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [giaotrinh_db] SET DB_CHAINING OFF 
GO
ALTER DATABASE [giaotrinh_db] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [giaotrinh_db] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [giaotrinh_db] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [giaotrinh_db] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [giaotrinh_db] SET QUERY_STORE = ON
GO
ALTER DATABASE [giaotrinh_db] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[CHITIETDATHANG]

In [0]:
USE [giaotrinh_db]
GO

In [0]:
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 11/02/2023 6:47:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[SOHOADON] [int] NOT NULL,
	[MAHANG] [nvarchar](10) NOT NULL,
	[GIABAN] [money] NOT NULL,
	[SOLUONG] [smallint] NOT NULL,
	[MUCGIAMGIA] [real] NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[DONDATHANG]

In [0]:
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 11/02/2023 6:47:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[SOHOADON] [int] NOT NULL,
	[MAKHACHHANG] [nvarchar](10) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[NGAYDATHANG] [smalldatetime] NULL,
	[NGAYGIAOHANG] [smalldatetime] NULL,
	[NGAYCHUYENHANG] [smalldatetime] NULL,
	[NOIGIAOHANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[KHACHHANG]

In [0]:
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/02/2023 6:47:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nvarchar](10) NOT NULL,
	[TENCONGTY] [nvarchar](50) NOT NULL,
	[TENGIAODICH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[EMAIL] [nvarchar](30) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[FAX] [nvarchar](20) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[LOAIHANG]

In [0]:
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 11/02/2023 6:47:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAIHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIHANG] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[MALOAIHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[MATHANG]

In [0]:
/****** Object:  Table [dbo].[MATHANG]    Script Date: 11/02/2023 6:47:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAHANG] [nvarchar](10) NOT NULL,
	[TENHANG] [nvarchar](50) NOT NULL,
	[MACONGTY] [nvarchar](10) NULL,
	[MALOAIHANG] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](20) NULL,
	[GIAHANG] [money] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[NHACUNGCAP]

In [0]:
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/02/2023 6:47:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MACONGTY] [nvarchar](10) NOT NULL,
	[TENCONGTY] [nvarchar](40) NOT NULL,
	[TENGIAODICH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[FAX] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[MACONGTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[NHANVIEN]

In [0]:
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/02/2023 6:47:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [nvarchar](10) NOT NULL,
	[HO] [nvarchar](20) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[NGAYLAMVIEC] [datetime] NULL,
	[DIACHI] [nvarchar](60) NULL,
	[DIENTHOAI] [nvarchar](24) NULL,
	[LUONGCOBAN] [money] NULL,
	[PHUCAP] [real] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CHITIETDATHANG]

In [0]:
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (3, N'H03', 5000.0000, 12, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (3, N'H21', 7000.0000, 30, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (4, N'H20', 9000.0000, 20, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (5, N'H18', 8000.0000, 1, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (6, N'H21', 5000.0000, 50, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (9, N'H03', 5000.0000, 25, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (11, N'H04', 100000.0000, 50, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (15, N'H01', 100.0000, 100, 10)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (16, N'H02', 100.0000, 100, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (16, N'H03', 100.0000, 100, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (20, N'H07', 35000.0000, 30, 0)
INSERT [dbo].[CHITIETDATHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (20, N'H08', 45000.0000, 35, 0)
GO

# [dbo].[DONDATHANG]

In [0]:
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (1, N'KH7', N'NV2', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-08-22T00:00:00' AS SmallDateTime), CAST(N'1996-08-12T00:00:00' AS SmallDateTime), N'1')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (2, N'KH5', N'NV8', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-09-09T00:00:00' AS SmallDateTime), CAST(N'1996-08-16T00:00:00' AS SmallDateTime), N'2')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (3, N'KH5', N'NV2', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-09-11T00:00:00' AS SmallDateTime), CAST(N'1996-09-12T00:00:00' AS SmallDateTime), N'1')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (4, N'KH7', N'NV5', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-10-16T00:00:00' AS SmallDateTime), CAST(N'1996-09-10T00:00:00' AS SmallDateTime), N'2')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (5, N'KH2', N'NV7', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-10-16T00:00:00' AS SmallDateTime), CAST(N'1996-09-24T00:00:00' AS SmallDateTime), N'3')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (6, N'KH8', N'NV4', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-11-07T00:00:00' AS SmallDateTime), CAST(N'1996-10-14T00:00:00' AS SmallDateTime), N'2')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (7, N'KH9', N'NV9', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-11-27T00:00:00' AS SmallDateTime), CAST(N'1996-10-21T00:00:00' AS SmallDateTime), N'1')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (8, N'KH9', N'NV1', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-11-26T00:00:00' AS SmallDateTime), CAST(N'1996-11-08T00:00:00' AS SmallDateTime), N'3')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (9, N'KH4', N'NV6', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-12-13T00:00:00' AS SmallDateTime), CAST(N'1996-11-20T00:00:00' AS SmallDateTime), N'1')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (11, N'KH9', N'NV3', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-12-23T00:00:00' AS SmallDateTime), CAST(N'1996-11-28T00:00:00' AS SmallDateTime), N'1')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (12, N'KH3', N'NV3', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-12-25T00:00:00' AS SmallDateTime), CAST(N'1996-12-02T00:00:00' AS SmallDateTime), N'2')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (15, N'KH1', N'NV1', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), NULL, NULL, N'Obere Str. 57')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (16, N'KH1', N'NV2', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), NULL, NULL, N'Obere Str. 57')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOIGIAOHANG]) VALUES (20, N'KH7', N'NV5', CAST(N'2017-10-18T18:06:00' AS SmallDateTime), CAST(N'1996-12-20T00:00:00' AS SmallDateTime), CAST(N'1996-12-02T00:00:00' AS SmallDateTime), N'3')
GO

# [dbo].[KHACHHANG]

In [0]:
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH1', N'CNTT', N'Phong', N'Obere Str. 57', N'Germany', N'030-0074321', N'030-0076545')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH2', N'CNTT', N'Hoang Ha', N'Avda. de la Constitución 2222', N'Mexico', N'(5) 555-4729', N'(5) 555-3745')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH3', N'ABC', N'ABC', N'Mataderos  2312', N'Mexico', N'(5) 555-3932', NULL)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH4', N'ABC', N'ABC', N'120 Hanover Sq.', N'UK', N'(171) 555-7788', N'(171) 555-6750')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH5', N'XYZ', N'XYZ', N'Berguvsvägen  8', N'Sweden', N'0921-12 34 65', N'0921-12 34 67')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH6', N'Blauer See Delikatessen', N'Hanna Moos', N'Forsterstr. 57', N'Germany', N'0621-08460', N'0621-08924')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH7', N'Blondesddsl père et fils', N'Frédérique Citeaux', N'24, place Kléber', N'France', N'88.60.15.31', N'88.60.15.32')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH8', N'Bólido Comidas preparadas', N'Martín Sommer', N'C/ Araquil, 67', N'Spain', N'(91) 555 22 82', N'(91) 555 91 99')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTY], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH9', N'Bon app''', N'Laurence Lebihan', N'12, rue des Bouchers', N'France', N'91.24.45.40', N'91.24.45.41')
GO

# [dbo].[LOAIHANG]

In [0]:
SET IDENTITY_INSERT [dbo].[LOAIHANG] ON 
INSERT [dbo].[LOAIHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (1, N'Thực phẩm')
INSERT [dbo].[LOAIHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (2, N'Mỹ phẩm')
INSERT [dbo].[LOAIHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (3, N'Đồ điện')
INSERT [dbo].[LOAIHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (4, N'Tạp hoá')
SET IDENTITY_INSERT [dbo].[LOAIHANG] OFF
GO

# [dbo].[MATHANG]

In [0]:
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H01', N'sữa hộp', N'CT1', 1, 100, N'hộp', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H02', N'Mì ăn liền', N'CT1', 1, 35, N'Thùng', 1500.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H03', N'Coca-cola', N'CT2', 1, 46, N'lon', 5000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H04', N'Coca-cola', N'CT3', 1, 89, N'lon', 5000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H05', N'sữa hộp', N'CT3', 1, 27, N'hộp', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H06', N'Xà phòng OMO', N'CT3', 2, 38, N'Goi', 8000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H07', N'Mì ăn liền', N'CT4', 1, 100, N'Thùng', 1500.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H08', N'Xà phòng DASO', N'CT4', 2, 234, N'Goi', 7500.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H09', N'Dầu gội Clear', N'CT1', 2, 110, N'Chai', 24000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H10', N'Coca-cola', N'CT5', 1, 36, N'lon', 5000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H11', N'sữa hộp', N'CT6', 1, 77, N'hộp', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H12', N'Mì ăn liền', N'CT6', 1, 84, N'Thùng', 1500.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H13', N'Sữa tắm', N'CT7', 2, 39, N'Chai', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H14', N'Dầu gội Sunsilk', N'CT8', 2, 23, N'Chai', 18000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H15', N'Mì ăn liền', N'CT8', 1, 12, N'Thùng', 1500.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H16', N'sữa hộp', N'CT4', 1, 97, N'hộp', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H17', N'Coca-cola', N'CT8', 1, 65, N'lon', 5000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H18', N'Coca-cola', N'CT7', 1, 43, N'lon', 5000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H19', N'sữa hộp', N'CT7', 1, 24, N'hộp', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H20', N'Mì ăn liền', N'CT6', 1, 13, N'Thùng', 1500.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H21', N'sữa hộp', N'CT4', 1, 78, N'hộp', 6000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTY], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'H22', N'Mì ăn liền', N'CT4', 1, 20, N'Thùng', 1500.0000)
GO

# [dbo].[NHACUNGCAP]

In [0]:
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT1', N'Công ty A', N'A', N'AAA', N'821111', NULL, NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT2', N'Công ty B', N'B', N'BBB', N'822222', NULL, NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT3', N'Công ty C', N'C', N'CCc', N'823333', NULL, NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT4', N'Công ty D', N'D', N'DDD', N'824444', NULL, N'')
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT5', N'Công ty E', N'E', N'EEE', N'825555', N'(04721) 8714', NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT6', N'Công ty F', N'F', N'FFF', N'826666', N'(0544) 60603', N'')
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT7', N'Công ty G', N'G', N'GGG', N'827777', NULL, NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTY], [TENCONGTY], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT8', N'Công y H', N'H', N'GGG', N'828888', NULL, NULL)
GO

# [dbo].[NHANVIEN]

In [0]:
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV1', N'Tran', N'A', CAST(N'1948-12-08T00:00:00.000' AS DateTime), CAST(N'1992-05-01T00:00:00.000' AS DateTime), N'507 - 20th Ave. E.
Apt. 2A', N'(206) 555-9857', 680000.0000, 100000)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV2', N'Nguyen', N'B', CAST(N'1952-02-19T00:00:00.000' AS DateTime), CAST(N'1992-08-14T00:00:00.000' AS DateTime), N'908 W. Capital Way', N'(206) 555-9482', 1200000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV3', N'Le Thi', N'C', CAST(N'1963-08-30T00:00:00.000' AS DateTime), CAST(N'1992-04-01T00:00:00.000' AS DateTime), N'722 Moss Bay Blvd.', N'(206) 555-3412', 800000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV4', N'Mai Van', N'B', CAST(N'1937-09-19T00:00:00.000' AS DateTime), CAST(N'1993-05-03T00:00:00.000' AS DateTime), N'4110 Old Redmond Rd.', N'(206) 555-8122', 1500000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV5', N'Hoang Ky', N'T', CAST(N'1955-03-04T00:00:00.000' AS DateTime), CAST(N'1993-10-17T00:00:00.000' AS DateTime), N'14 Garrett Hill', N'(71) 555-4848', 2500000.0000, 200000)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV6', N'Hoa', N'V', CAST(N'1963-07-02T00:00:00.000' AS DateTime), CAST(N'1993-10-17T00:00:00.000' AS DateTime), N'Coventry House
Miner Rd.', N'(71) 555-7773', 800000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV7', N'Trinh', N'D', CAST(N'1960-05-29T00:00:00.000' AS DateTime), CAST(N'1994-01-02T00:00:00.000' AS DateTime), N'Edgeham Hollow
Winchester Way', N'(71) 555-5598', 975000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV8', N'Vo', N'T', CAST(N'1958-01-09T00:00:00.000' AS DateTime), CAST(N'1994-03-05T00:00:00.000' AS DateTime), N'4726 - 11th Ave. N.E.', N'(206) 555-1189', 800000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV9', N'Hoang', N'L', CAST(N'1966-01-27T00:00:00.000' AS DateTime), CAST(N'1994-11-15T00:00:00.000' AS DateTime), N'7 Houndstooth Rd.', N'(71) 555-4444', 2500000.0000, 200000)
GO

# [DF_Order_Details_UnitPrice]

In [0]:
ALTER TABLE [dbo].[CHITIETDATHANG] ADD  CONSTRAINT [DF_Order_Details_UnitPrice]  DEFAULT ((0)) FOR [GIABAN]
GO

# [DF_Order_Details_Quantity]

In [0]:
ALTER TABLE [dbo].[CHITIETDATHANG] ADD  CONSTRAINT [DF_Order_Details_Quantity]  DEFAULT ((1)) FOR [SOLUONG]
GO

# [DF_Order_Details_Discount]

In [0]:
ALTER TABLE [dbo].[CHITIETDATHANG] ADD  CONSTRAINT [DF_Order_Details_Discount]  DEFAULT ((0)) FOR [MUCGIAMGIA]
GO

# [DF_Products_UnitPrice]

In [0]:
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [GIAHANG]
GO

# [FK_Order Details_Orders]

In [0]:
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Order Details_Orders] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[DONDATHANG] ([SOHOADON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_Order Details_Orders]
GO

# [FK_Order Details_Products]

In [0]:
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Order Details_Products] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MATHANG] ([MAHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_Order Details_Products]
GO

# [FK_Orders_Customers]

In [0]:
ALTER TABLE [dbo].[DONDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_Orders_Customers]
GO

# [FK_Orders_Employees]

In [0]:
ALTER TABLE [dbo].[DONDATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_Orders_Employees]
GO

# [FK_Products_Categories]

In [0]:
ALTER TABLE [dbo].[MATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([MALOAIHANG])
REFERENCES [dbo].[LOAIHANG] ([MALOAIHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_Products_Categories]
GO

# [FK_Products_Suppliers]

In [0]:
ALTER TABLE [dbo].[MATHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([MACONGTY])
REFERENCES [dbo].[NHACUNGCAP] ([MACONGTY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_Products_Suppliers]
GO

# [giaotrinh_db]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [giaotrinh_db] SET  READ_WRITE 
GO